<div class="container d-flex justify-content-center align-items-center" style="height: 100vh; width: 100vw;">
    <div class="d-flex custom-card flex-column" >
        <div class="d-flex flex-column justify-content-center  align-items-center mx-5 my-3">
            <div class="mb-3">
                <img src="../../assets/spotify-logo.png" alt="spotify-logo" height="100">
            </div>
            <p>You Can't Access  Without Log-In</p>
            <p>Please Login First</p>
            <div class=" d-flex justify-content-around w-100 mb-2 ">
                <a [href]="authLink" class="btn btn-light rounded mx-2 ">Log in</a>
               
            </div>
        </div>
    </div>
</div>