.container{
    color: white;
}
.custom-card{
background: rgba(12, 12, 12, 0.28);
border-radius: 16px;
// box-shadow: 0 0px 18px rgba(255, 255, 255, 0.1);
box-shadow: 0 4px 13px 6px  rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

